# Data
data/

# Generated outputs
submissions/
figures/

# Models - large binary files (maybe github decline)
# models/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.coverage

# Environment
.env
*.egg-info/
dist/
.venv/
.python-version
